* {
    font-family: 'FiraCode Nerd Font';
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.0;
}

tooltip {
    background-color: rgba(141, 98, 247, 0.65);
    border: 1px solid #a162f7;
    text-shadow: none;
    font-weight: 600;
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px rgba(141, 136, 254, 0.4);
}

#workspaces button.focused {
    background-color: rgba(141, 98, 247, 0.40);
    box-shadow: inset 0 -3px #a162f7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

@keyframes blink {
    0% {
        color: #ffd700;
    }

    50% {
        color: #a162f7;
    }

    100% {
        color: #ffd700;
    }

}

#battery.charging {
    color: #7bb11a;
}

#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0.5rem;
}

#window,
#workspaces {
    margin: 0 4px;
}



.modules-right {
    background-color: rgba(28, 28, 28, 0.6);
    border-radius: 1rem;
    margin: 5px 0 5px 0;
    padding: 0 0.5rem 0 0.5rem;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}
